.footer {
	grid-area: footer;
	padding: 1rem;
	background-color: var(--bg-primary);
	position: sticky;
	bottom: 0;
	width: 100%;
}

.siteFooter p {
	text-align: center;
	color: var(--text-primary);
}
